<div class="pp-card-slider-wrapper" style="margin-top: -55px;">
  <div class="slick-slider">
    <input class="hide" type="radio" id="uno" name="tractor" checked />
    <input class="hide" type="radio" id="dos" name="tractor"  />
    <input class="hide" type="radio" id="tres" name="tractor"  />

    <section class="galeria">
      <article>
        <label class="madia-carousel" for="uno">
          <img
            class="layer-text"
            src="./../../../../assets/img/Vector 6.png"
            alt="" />
          <img
            class="box-video-media"
            src="https://2.bp.blogspot.com/-KrkdJdOW5Lw/VSWamS7hx1I/AAAAAAAAK8M/WIRcn-Z3ro0/s700/1.jpg"
        /></label>
        <div class="text-layer-box color-white">
          <h1 class="">Esto es AHORRO</h1>
          <span class="font-12-400" style="width: 73%">
            Conoce como nuestro RoboAdvisor crea el mejor portafolio de
            inversión para ti.
          </span>
        </div>

        <label class="madia-carousel" for="dos">
          <img
            class="layer-text"
            src="./../../../../assets/img/Vector 6.png"
            alt="" />
          <img
            class="box-video-media"
            src="https://2.bp.blogspot.com/-KrkdJdOW5Lw/VSWamS7hx1I/AAAAAAAAK8M/WIRcn-Z3ro0/s700/1.jpg"
        /></label>
        <div class="text-layer-box-dos color-white">
          <h1 class="">Esto es AHORRO</h1>
          <span class="font-12-400" style="width: 73%">
            Conoce como nuestro RoboAdvisor crea el mejor portafolio de
            inversión para ti.
          </span>
        </div>
        <label class="madia-carousel" for="tres">
          <img
            class="layer-text"
            src="./../../../../assets/img/Vector 6.png"
            alt="" />
          <img
            class="box-video-media"
            src="https://2.bp.blogspot.com/-KrkdJdOW5Lw/VSWamS7hx1I/AAAAAAAAK8M/WIRcn-Z3ro0/s700/1.jpg"
        /></label>
        <div class="text-layer-box-tres color-white">
          <h1 class="">Esto es AHORRO</h1>
          <span class="font-12-400" style="width: 73%">
            Conoce como nuestro RoboAdvisor crea el mejor portafolio de
            inversión para ti.
          </span>
        </div>
      </article>
    </section>
    <p class="group-point">
      <label class="point point-hover" for="uno"></label>
      <label class="point point-hover" for="dos"></label>
      <label class="point point-hover" for="tres"></label>
    </p>
  </div>
</div>
