<div class="card-component">
  <div class="card-spinner-info">
    <div class="card-body-info">
      <img
        class="img-card-info"
        src="../../../../assets/img/palmas.png"
        alt=""
      />
      <div class="text-start" style="border-bottom: 1px solid #faf9fd">
        <span class="font-14-600" style="color: #817699; line-height: 21px"
          >Viaje a Islas <br />
          Canarias</span
        >
      </div>

      <div class="card-spinner-info">
        <div class="spinner-card-body">
          <div class="title-spinner font-12-600 blue" style="color: #54D1ED">20%</div>
            <mat-spinner
            strokeWidth="strokeWidth"
            class="card-spinner spinner-location"
            value="20"
            mode="determinate"
            color="primary"
            diameter="70"
          ></mat-spinner>
        </div>
        <div class="text-valor"><span class="font-12-600 color-blue">$1.630.000</span><span class="font-10-400 color-gray">$8.000.000</span></div>
      </div>
    </div>
  </div>

  <div class="card-spinner-info">
    <div class="card-body-info">
      <img
        class="img-card-info"
        src="../../../../assets/img/laptop.png"
        alt=""
      />
      <div class="text-start" style="border-bottom: 1px solid #faf9fd">
        <span class="font-14-600" style="color: #817699; line-height: 21px"
          >Viaje a Islas <br />
          Canarias</span
        >
      </div>

      <div class="card-spinner-info">
        <div class="spinner-card-body">
          <div class="title-spinner font-12-600 blue" style="color: #54D1ED">2%</div>
            <mat-spinner
            strokeWidth="strokeWidth"
            class="card-spinner spinner-location"
            value="2"
            mode="determinate"
            color="primary"
            diameter="70"
          ></mat-spinner>
        </div>
        <div class="text-valor"><span class="font-12-600 color-blue">$1.630.000</span><span class="font-10-400 color-gray">$8.000.000</span></div>
      </div>
    </div>
  </div>
</div>
