.card-data-list {
  border-radius: 20px;
  width: 100%;
  background: #fff;
  margin-top: 15px;
  margin-bottom: 15px;
}

.title-data {
  height: 50px;
  display: flex;
  justify-content: space-between;
  margin-left: 21px;
  margin-right: 21px;
  align-items: center;
  border-bottom: 1px solid #f8f8f8;
}
