<div class="container">
  <div class="box-title font-18">
    <span>Hola, Camila</span>
    <img src="../assets/img/notifications.png" alt="" style="width: 30px" />
  </div>
  <app-card-info-img></app-card-info-img>
  <app-card-data-list></app-card-data-list>
  <div class="box-title font-18">
    <span>Tus metas</span>
    <img
      src="../assets/img/add_circle_outline.png"
      alt=""
      style="width: 30px"
    />
  </div>
  <app-card-spinner-info></app-card-spinner-info>
  <div class="box-title font-18">
    <span>Conoce tu portafolio</span>
    <span
      class="badge badge-pill badge-success back-green-p color-green"
      style="border: 0.16em solid"
      >Estratega</span
    >
  </div>
  <app-card-spinner-slider></app-card-spinner-slider>
  <div class="box-title font-18">
    <span>Los P*t@s del ahorro</span>
  </div>
  <app-media-carousel></app-media-carousel>
  <app-target-info></app-target-info>
<div class="box-136"></div>
  <div>
    <app-navbar></app-navbar>
  </div>


</div>
