.card-box {
  height: 230px;
  border-radius: 20px;
  background: rgba(98, 213, 239, 1);
  background: -moz-linear-gradient(
    top,
    rgba(98, 213, 239, 1) 0%,
    rgba(98, 213, 239, 1) 21%,
    rgba(44, 82, 216, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(98, 213, 239, 1)),
    color-stop(21%, rgba(98, 213, 239, 1)),
    color-stop(100%, rgba(44, 82, 216, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(98, 213, 239, 1) 0%,
    rgba(98, 213, 239, 1) 21%,
    rgb(73 155 228)
  );
  background: -o-linear-gradient(
    top,
    rgba(98, 213, 239, 1) 0%,
    rgba(98, 213, 239, 1) 21%,
    rgba(44, 82, 216, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(98, 213, 239, 1) 0%,
    rgba(98, 213, 239, 1) 21%,
    rgba(44, 82, 216, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(98, 213, 239, 1) 0%,
    rgba(98, 213, 239, 1) 21%,
    rgb(59 120 222 / 89%) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62d5ef', endColorstr='#2c52d8', GradientType=0 );
}

.logo-info-card {
  right: 10px;
  position: absolute;
  transform: translateY(-33px);
}

.car-body-info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: #fff;
  padding: 1.25em;
  height: 100%;
}
