<div class="card card-box">
  <img
    class="logo-info-card"
    src="../../../../assets/img/IMG.png"
    alt="logo-info-card"
  />
  <div
    class="car-body-info"
  >
    <div class="col-md-4">
      <span class="card-text text-white font-18-600"
        >Eres <br />
        estratega</span
      >
    </div>
    <div class="col-md-4" style=" line-height: 1.5;
">
      <span class="card-text text-white font-14-600">Tu saldo</span><br />
      <span class="text-white font-36-600">$1.570.000</span>
    </div>
  </div>
</div>
