<div class="target-info-component">
  <div class="media target-location" style="border: none;">
    <div class="media-body color-gray">
      <h4 class="media-heading color-gray">10 gastos que debes evitar</h4>
      Aunque el 66% de los adultos recibió educación para el ahorro, apenas el 44% ahorra de manera fomal.
    </div>
    <div class="media-right">
      <a href="#">
        <img
          alt="64x64"
          class="media-object"
          data-src="holder.js/64x64"
          src="../../../../assets/img/target-info-1.png"
          data-holder-rendered="true"
          style="width: 64px; height: 64px"
        />
      </a>
    </div>
  </div>

  <div class="media target-location" style="border: none;">
    <div class="media-body color-gray">
      <h4 class="media-heading color-gray">10 gastos que debes evitar</h4>
      Aunque el 66% de los adultos recibió educación para el ahorro, apenas el 44% ahorra de manera fomal.
    </div>
    <div class="media-right">
      <a href="#">
        <img
          alt="64x64"
          class="media-object"
          data-src="holder.js/64x64"
          src="../../../../assets/img/target-info-1.png"
          data-holder-rendered="true"
          style="width: 64px; height: 64px"
        />
      </a>
    </div>
  </div>

  <div class="media target-location" style="border: none;">
    <div class="media-body color-gray">
      <h4 class="media-heading color-gray">10 gastos que debes evitar</h4>
      Aunque el 66% de los adultos recibió educación para el ahorro, apenas el 44% ahorra de manera fomal.
    </div>
    <div class="media-right">
      <a href="#">
        <img
          alt="64x64"
          class="media-object"
          data-src="holder.js/64x64"
          src="../../../../assets/img/target-info-1.png"
          data-holder-rendered="true"
          style="width: 64px; height: 64px"
        />
      </a>
    </div>
  </div>


</div>
