.target-location{
  display: flex;
  align-items: center;
  border: 1px solid #FAF9FD !important;
}

.target-info-component {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 17px;
  margin-top: 30px;
}
