<div class="navbar-component">
  <div class="phone">
    <input type="radio" name="s" id="s1" />
    <input type="radio" name="s" id="s2" />
    <input type="radio" name="s" id="s3" checked="checked" />
    <input type="radio" name="s" id="s4" />
    <input type="radio" name="s" id="s5" />
    <label for="s1"
      ><img src="../../../../assets/img/home_24px.png" alt="" />
      <span class="color-gray" style="transform: translateY(25px)">Inicio</span>
    </label>
    <label for="s2"
      ><img src="../../../../assets/img/format_list_bulleted_24px.png" alt="" />
      <span class="color-gray" style="transform: translateY(25px)"
        >Historial</span
      >
    </label>
    <label for="s3"
      ><img src="../../../../assets/img/add_24px.png" alt="" />
      <span class="color-gray" style="transform: translateY(25px)"
        >Ahorrar</span
      >
    </label>
    <label for="s4"
      ><img src="../../../../assets/img/account_circle_24px.png" alt="" />
      <span class="color-gray" style="transform: translateY(25px)"
        >Mi perfil</span
      >
    </label>
    <label for="s5"
      ><img src="../../../../assets/img/more_horiz_24px.png" alt="" />
      <span class="color-gray" style="transform: translateY(25px)">Más</span>
    </label>
    <div class="circle"></div>
    <div class="phone_content">
      <div class="phone_bottom">
        <span class="indicator"></span>
      </div>
    </div>
  </div>
</div>
